/* 
  This is a SAMPLE File to get you started. Follow the instructions on the project to complete the tasks. 
  You'll probably need to override some of theese styles.
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

body {
    background-color: #f6f8eb;
    color: #ff6b3d;
}

header {
    background-color: #ff6b3d;
    color: #f6f8eb;
    padding: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 1rem;
}

main {
    padding: 2rem;
}
